{% extends '/app/unauth/unauth_app.html' %}
{% block content %}
{% set sideFooter = False %}
<div id="reception">
    <div id="new_div" class="images-gallery"></div>
    
    <div class="lds-ring hidden loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<script src="{{ url_for('static', filename='/js/Gallery.js') }}"></script>
<script>
    new Gallery("", ["new"], {"new": "No new images"}, {"new": GALLERY_KIND.PREVIEW_BID}, false);
</script>
{%endblock%}