{% extends '/app/unauth/unauth_app.html' %}
{% block content %}
{% set sideFooter = False %}
<div id="reception">
    <div id="new_div" class="images-gallery"></div>
    
    <div class="lds-ring hidden loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<script src="{{ url_for('static', filename='/js/countdown.js') }}"></script>
<script src="{{ url_for('static', filename='/js/bid_buy.js') }}"></script>
<script src="{{ url_for('static', filename='/js/displayGallery.js') }}"></script>
<script>
    initGallery("", ["new"], {"new": "No new images"}, {"new": "preview_bid"}, false);
</script>
{%endblock%}