{% extends '/base.html' %} {% block body %}
{% if sideFooter is not defined%}
{% set sideFooter = False %}
{% endif %}
{% if not session["installed"] %}
<script>
    displayStatusBar("Please use the AlgoSigner Chrome extension to interact with MyPic")

    function displayStatusBar(message) {
        let statusBar = document.createElement("div");
        statusBar.id = "algo-status-bar";
        document.documentElement.appendChild(statusBar);

        let closeButton = document.createElement("button");
        closeButton.id = "algo-status-bar-dismiss";
        closeButton.innerText = "X";
        statusBar.appendChild(closeButton);

        statusBar.innerHTML = statusBar.innerHTML + message;

        document.getElementById("algo-status-bar-dismiss")
            .addEventListener("click", () => {
                statusBar.remove();
            });
    } 
</script>
{%endif%}
<nav id="navbar">
    <a href="/gallery">
        <div class="logo">MyPic</div>
    </a>

    {% set navigation_bar = [ 
        ('/create', 'create_nav', 'Create'), 
        ('/feed', 'feed_nav', 'Feed'), 
        ('/gallery', 'gallery_nav', 'Gallery'),
        ('/nft_back', 'nft_back_nav', 'Claim your NFT'),
        ('/favorites', 'favorites_nav', 'Favorites')
    ] -%}
    {% set active_page = active_page|default('index') -%}
    
    {% for href, id, caption in navigation_bar %} 
        <a href="{{ href|e }}" {% if id==active_page %} class="active" {% endif %}>{{ caption|e }}</a>
    {% endfor %}

    <div class="spacer"></div>

    <div class="dropdown" >
        <button onclick="dropdown()" class="pp-button">
            <div id="pp-button-pp" class="pp {% if active_page=='account_nav' %}active{% endif %}" {% if not active_page=='account_nav' %}onclick="setactive()"{% endif %} style="background-image: url('{{ pp }}')">
            </div>
        </button>
        <div id="dropdown-menu" class="dropdown-content">
            <div class="arrow-head"></div>
            <a href="/account">Account</a>
            <a href="/logout">Log Out</a>
        </div>
    </div>
</nav>
<script>
    function dropdown() {
        document.getElementById("dropdown-menu").classList.toggle("show");
    }
    function setactive() {
        document.getElementById("pp-button-pp").classList.toggle("active");
    }

    window.onclick = function(event) {
        if (!event.target.matches('.pp')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (let i = 0; i < dropdowns.length; i++) {
                let openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
{% block content %}{% endblock %}
{% endblock %}