{% extends '/app/base_app.html' %}
{% set active_page = "create_nav" %}
{% block content %} 
<div id="market">
    <div id="create-form">
        {% with messages = get_flashed_messages() %} {% if messages %} <span class=errors> {{ messages[-1] }} </span> {% endif %} {% endwith %}
        <span class="file-selector-styled">
            <label for="file-selector"> Click to upload image </label>
            <input type="file" id="file-selector" name="file" accept=".jpg, .jpeg, .png, .gif" required>
        </span>
        <img id="preview_sell_market" src="#" alt="Please seleact an image."/>

        <label for="price">Price (in <div class="algo"></div>):</label>
        <input type="number" placeholder="Price" name="price" min="10" value="10" required>

        <label for="duration">Duration (hours):</label>
        <input type="number" placeholder="Sale Duration" name="duration" min="1" max="48" value="1" required>

        <label for="royalties">Royalties (%):</label>
        <input type="number" placeholder="Royalties" name="royalties" min="0" max="5" value="0" required>

    
        <label for="title">Title:</label>
        <input type="text" placeholder="Title" name="title" minlength="1" maxlength="30" required>

        <label for="description">Description:</label>
        <textarea type="text" placeholder="Description" name="description" minlength="0" maxlength="255"></textarea>

        <label for="private">Private:</label>
        <label class="switch">
            <input type="checkbox" name="private">
            <span class="slider round">
                <label class="locked"><img src="{{ url_for('static', filename='/img/lock.svg') }}""></label>
                <label class="open_lock"><img src="{{ url_for('static', filename='/img/open_lock.svg') }}""></label>
            </span>
        </label>

        <label for="category">Category:</label>
        <select name="category" id="category">
            {% for cat in categories %}
                <option value="{{ cat.value }}">{{ cat.name }}</option>
            {% endfor %}
        </select>

        <label for="private">NSFW:</label>
         <label class="switch">
             <input type="checkbox" name="nsfw">
             <span class="slider round">
                 <label class="nsfw">🔞</label>
             </span>
         </label>
        
        <button id="create-button" class="fat">Create Sell</button>
    </div>
</div> 

<script>
    let reader = new FileReader();
    reader.onload = function (e) {
        $('#preview_sell_market').attr('src', e.target.result);
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#file-selector").change(function () {
            readURL(this);
            $("#preview_sell_market").addClass("display");
            $("#market").addClass("preview");
        });

    document.getElementById("create-button").addEventListener("click", () => {
        submit_creation();
    })
    
    function submit_creation() {
        addTooltip("Creation in progress", "");
        var http = new XMLHttpRequest();
        http.open('POST', '/create', true);

        var formData = new FormData();

        let files = document.getElementById("file-selector").files;
        if (!(files && files[0])) {
            addTooltip("Please select an image to sell", "");
            return;
        }

        formData.append("file", files[0]);

        document.querySelectorAll("#create-form input:not(#file-selector):not(input[type='checkbox'])").forEach(function (input) {
            formData.append(input.name, input.value);
        });

        document.querySelectorAll("select").forEach(function (input) {
            formData.append(input.name, input.value);
        });

        document.querySelectorAll("textarea").forEach(function (input) {
            formData.append(input.name, input.value);
        });
        document.querySelectorAll("#create-form input[type='checkbox']").forEach(function (input) {
            formData.append(input.name, (input.checked) ? "on" : "off" );
        });
        formData.append("create", "");

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.readyState == 4 && http.status == 200) {
                let parsed = JSON.parse(http.responseText);
                if (parsed.status == 404) {
                    addTooltip(parsed.e, parsed.e_full);
                } else if (parsed.status == 200) {
                    addTooltip(parsed.message, "");
                    setTimeout(() => {
                            window.location.href = "/gallery#my-auctions";
                        }, 4000);
                }
            } else if (http.readyState == 4 && http.status == 500) {
                addTooltip("Creation failed", "Please retry, if the error persits send us an email.");
            }
        }
        http.send(formData);
    }
</script>
{% endblock %}