{% extends '/app/base_app.html' %} 
{% set active_page = "feed_nav" %}
{% set sideFooter = True %}
{% block content %} 
<div id="pictures-feed">
    <!--<div id="category-filter">
        <label for="category">Category:</label>
        <select name="category" id="category">
            {% for cat in categories %}
            <option value="{{ cat.value }}">{{ cat.name }}</option>
            {% endfor %}
        </select>
    </div>-->

    <div id="pictures-feed-nav" class="images-gallery-nav">
        <button id="new_button" class="selected" >Auctions</button>
        <button id="resale_button">Resales</button>
    </div>
    <div id="new_div" class="images-gallery">
    </div>
    <div id="resale_div" class="images-gallery hidden">
    </div>
    <div class="lds-ring hidden loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!--<script src="{{ url_for('static', filename='/js/socket.io.min.js') }}"></script>-->

<script src="{{ url_for('static', filename='/js/Contract.js') }}"></script>
<script src="{{ url_for('static', filename='/js/Gallery.js') }}"></script>

<script>
    new Gallery("feed", ["new", "resale"], {"new": "No new images", "resale": "No resale images"}, {"new": GALLERY_KIND.BID, "resale": GALLERY_KIND.BUY });
    /*
    document.getElementById("category-filter").addEventListener("change", () => {
        var http = new XMLHttpRequest();
        http.open('POST', '/create', true);

        var formData = new FormData();

        let filter = document.querySelector("#category-filter select");
        formData.append(filter.name, filter.value);

        formData.append("filter", "");

        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                let parsed = JSON.parse(http.responseText);
                if (parsed.status == 404) {
                    displayFilter(JSON.parse(http.responseText).pictures, currentPage);
                }
            }
        }
        http.send(formData);
    });

    let socket = io();
    socket.on('new', function (msg) {
        try {
            document.querySelector("#picture-" + msg[1] + " .picture-bid").setAttribute("value", msg[0]);
            document.querySelector("#picture-" + msg[1] + " .picture-bid"). setAttribute("min", msg[0]);
        } catch (error) {
        }
    });
    socket.on('sold_out', function (msg) {
        try {
            var el = document.querySelector("#picture-" + msg[1] + " .buy-button"),
                elClone = el.cloneNode(true);

            el.parentNode.replaceChild(elClone, el);
            elClone.innerHTML = "Sold";
            
        } catch (error) {
        }
    });*/
</script>
{% endblock %}