{% extends '/app/base_app.html' %}
{% set active_page = "gallery_nav" %}
{% set sideFooter = True %}
{% block content %} 
<div id="my-gallery">
    <div id="gallery-nav" class="images-gallery-nav">
        <button id="my-pics_button" class="selected">My Pics</button>
        <button id="my-auctions_button">My Auctions</button>
        <button id="my-resales_button">My Resales</button>
    </div>
    
    <div id="my-pics_div" class="images-gallery"></div>
    <div id="my-auctions_div" class="images-gallery hidden"></div>
    <div id="my-resales_div" class="images-gallery hidden"></div>
    
    <div class="lds-ring hidden loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<script src="{{ url_for('static', filename='/js/Contract.js') }}"></script>
<script src="{{ url_for('static', filename='/js/Gallery.js') }}"></script>

<script>
    new Gallery("gallery", ["my-pics", "my-auctions", "my-resales"], { "my-pics": "You do not have images.", "my-auctions": "You have no sell", "my-resales": "You have no resale" }, { "my-pics": GALLERY_KIND.SELL, "my-auctions": GALLERY_KIND.SELLING, "my-resales": GALLERY_KIND.CANCEL });
    
</script>
{% endblock %}