{% extends '/base.html' %}
{% block body %}
{% set sideFooter = False %}
<nav id="navbar">
    <a href="/gallery">
        <div class="logo">MyPic</div>
    </a>
    <div class="spacer"></div>
    <a href="/login">Login</a>
    <a href="/register">Register</a>

</nav>
<div id="reception">
    <div id="new_div" class="images-gallery"></div>
    
    <div class="lds-ring hidden loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<script src="{{ url_for('static', filename='/js/countdown.js') }}"></script>
<script src="{{ url_for('static', filename='/js/bid_buy.js') }}"></script>
<script src="{{ url_for('static', filename='/js/displayGallery.js') }}"></script>
<script>
    initGallery("", ["new"], {"new": "No new images"}, {"new": "preview"}, false);
</script>
{%endblock%}